@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --swiper-pagination-bullet-inactive-color: #34384E1A;
  --swiper-pagination-color: #02C2FF;
  --swiper-pagination-bullet-inactive-opacity: 1;
}

.swiper-slide {
  overflow: hidden;
}

/*hero section*/
.hero-section h1 {
  font-size: clamp(6.3dvw, 14.3dvw, 7dvh);
}

.hero-section h2 {
  font-size: clamp(2dvw, 4.1dvw, 2dvh);
}

.counter-block .counter-title {
  font-size: clamp(3.76dvw, 9dvw, 5dvh);
  margin-bottom: clamp(3dvh, 7.6dvh, 17dvw);
}

.counter-block .counter-item .number {
  font-size: clamp(5dvw, 10dvw, 5dvh)
}

.counter-block .counter-item .text {
  font-size: clamp(1.5dvw, 3.6dvw, 2dvh);
}

.counter-block .counter-grid {
  row-gap: clamp(3dvh, 8.7dvh, 19dvw);
}

@media screen and (max-height: 600px) {
  .counter-block, .hero-section {
    padding-top: 56px;
  }
}

@media screen and (min-width: 1024px) {
  .hero-section h1 {
    font-size: clamp(4.3dvw, 8.4dvw, 14dvh);
  }

  .hero-section h2 {
    font-size: clamp(.9dvw, 1.25dvw, 2dvh);
  }

  .counter-block .counter-title {
    font-size: clamp(1.76dvw, 2.5dvw, 5dvh);
    margin-bottom: clamp(3dvh, 3.6dvh, 11dvw);
  }

  .counter-block .counter-item .number {
    font-size: clamp(1dvw, 3.1dvw, 5dvh);
  }

  .counter-block .counter-item .text {
    font-size: clamp(.5dvw, 0.97dvw, 2dvh);
  }

  .counter-block .counter-grid {
    grid-template-columns: repeat(6, clamp(5dvw, 10.3dvw, 17dvh));
  }
}

@media screen and (max-width: 1440px) and (max-height: 600px) {
  .hero-section h1 {
    font-size: clamp(4.3dvw, 8.4dvw, 12dvh);
  }
}

@media screen and (min-width: 1642px) {
  .hero-section h1 {
    font-size: clamp(4.3dvw, 150px, 13dvh);
  }

  .hero-section h2 {
    font-size: clamp(0.9dvw, 26px, 3dvh);
  }

  .counter-block .counter-title {
    font-size: clamp(1.76dvw, 55px, 5dvh);
  }

  .counter-block .counter-item .number {
    font-size: 52px;
  }

  .counter-block .counter-item .text {
    font-size: clamp(.3dvw, .7dvw, 2dvh);
  }

  .counter-block .counter-grid {
    grid-template-columns: repeat(6, 165px);
  }
}

@media screen and (min-width: 2500px) {
  .counter-block .counter-grid {
    grid-template-columns: repeat(6, 1fr);
  }
}

/*comprehensive coverage*/
.comprehensive-coverage {
  padding-top: clamp(60px, 9dvh, 21dvw);
  padding-bottom: clamp(30px, 4.5dvh, 10dvw);
}

.comprehensive-coverage h2 {
  font-size: clamp(5.3dvw, 9.2dvw, 4dvh);
}

.comprehensive-coverage .subtitle {
  font-size: clamp(2dvw, 4.04dvw, 3dvh);
}

.comprehensive-coverage .subtitle br {
  display: none;
}

.comprehensive-coverage-pagination.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0;
  width: 12px;
  height: 12px;
}

.comprehensive-coverage .swiper-wrapper {
  align-items: center;
}

#comprehensive-slider {
  padding-top: clamp(15px, 6.8dvh, 9dvw);
  padding-bottom: clamp(15px, 5.6dvh, 10dvw);
}

#comprehensive-slider .swiper-slide {
  height: 100%;
  transition: transform .5s, right .3s, transform-origin .7s;
  width: 310px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#comprehensive-slider .swiper-slide .swiper-slide-inner {
  position: relative;
  border-radius: 16px;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

#comprehensive-slider .swiper-slide .swiper-slide-inner:after,
#comprehensive-slider .swiper-slide .swiper-slide-inner:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity .7s;
}

#comprehensive-slider .swiper-slide .swiper-slide-inner:after {
  opacity: 1;
  background: linear-gradient(180deg, rgba(28, 28, 28, 0) 71.07%, #212121 100%);
}

#comprehensive-slider .swiper-slide .swiper-slide-inner:before {
  opacity: 0;
  background: linear-gradient(180deg, rgba(33, 33, 33, 0.45) -32.37%, #212121 100%);
}

#comprehensive-slider .swiper-slide-active .swiper-slide-inner:after {
  opacity: 0;
}

#comprehensive-slider .swiper-slide-active .swiper-slide-inner:before {
  opacity: 1;
}


/*common styles of step form  start*/


.step-form-wrap {
    min-height: 1061px;
    padding: clamp(32px, 5.56vw, 111px) 24px clamp(32px, 5.56vw, 111px) 24px;
}

.step-form-wrap.step-form-wrap-open-package{
    padding: clamp(32px, 5.56vw, 111px) 0 clamp(32px, 5.56vw, 111px) 0
}

.step-form-wrap.step-form-wrap-open-package .step-form-step-two-left-column {
    padding: 0 10px 0 24px;
}

.step-form-step{
    border-radius: 20px;
}

.step-form-step-one.active,
.step-form-step-three.active {
    display: flex;
}

.step-form-step-two.active {
    display: flex;
    flex-direction: column;
}

.step-form-box-right .optional-content {
    height: 590px;
    overflow-x: auto;

    ::-webkit-scrollbar {
        width: 3px;
    }

    ::-webkit-scrollbar-track {
        background: transparent;
    }

    ::-webkit-scrollbar-thumb {
        background: #D9D9D9;
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #D9D9D9;
    }
    scrollbar-width: thin; /* 'auto' или 'thin' */
    scrollbar-color: #D9D9D9 transparent;
}

.step-form-box-right.disabled-step-form-box-right {
    opacity: 0.6;
    pointer-events: none;
}

.step-form-box-right.disabled-step-form-box-right .continue-btn{
    background: #a7a1a1;
}

.step-form-box-right  .title-arrow-box{
    position: relative;
    margin-right: 50px;
}

.step-form-box-right  .title-arrow-box:after{
    content: '';
    position: absolute;
    background: url("../images/step-form/arrow-dd.png") no-repeat center center;
    width: 10px;
    height: 10px;
    right: -25px;
    background-size: contain;
    top: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center center;
    transition: .2s ease-in-out;
}

.step-form-wrap .continue-btn {
    width: 100%;
    padding: 20px;
    background: #02A1D3;
    transition: .2s ease-in-out;
    height: 56px;
}

.step-form-wrap .continue-btn:hover {
    font-size: 17px;
    background: #02A1D3;
}

.step-form-wrap .step-title {
    font-size: clamp(2.25rem, 1.882rem + 1.498vw, 3.75rem);
    margin-bottom: clamp(24px, 5.56vw, 60px);
}


.step-form-wrap .select-box {
    margin-bottom: clamp(20px, 3.56vw, 60px);
}

/*left side styles start*/



.step-form-box-left .package-select-info-img {
    width: 25px;
}

.step-form-box-left .package-select-info-text {
    position: absolute;
    top: 100%;
    right: 0;
    box-shadow: 13px 11px 60px 0px #0000000D;
    border-radius: 20px;
    background: white;
    padding: 66px 31px;
    max-width: 345px;
    width: 100%;
    z-index: 4;
    display: none;
}

.step-form-box-left .package-select-info-text.package-select-info-text-toggle {
    display: block;
}

.step-form-box-left .package-select-info-text h4 {
    font-size: 24px;
    font-weight: 700;
    line-height: 40px;
    text-align: left;
    color: #151515;
}

.step-form-box-left .package-select-info-text span {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
}

.step-form-box-left .package-select-info-text img {
    top: 20px;
    right: 20px;
    width: 24px;
    height: 24px;
    cursor: pointer;

}


.step-form-box-left .additional-text-options {
    display: none;
}

/*left side styles finish*/

/*right side styles start*/

.step-form-box-right .dropdown-toggle ,
.step-form-box-right .menu-title{
    position: relative;
    width: 100%;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
}

.step-form-box-right .dropdown-toggle .dropdown-toggle-img-box ,
.step-form-box-right .menu-title .menu-img-box {
    width: 20px;
    height: 20px;
    margin-right: 16px;
}

.step-form-box-right .dropdown-toggle.dropdown-custom:after{
    display: none;
}

.step-form-box-right .dropdown-toggle:after ,
.step-form-box-right .menu-title:after,
.step-form-box-right .default-price .dropdown-toggle:after {
    content: '';
    position: absolute;
    background: url("../images/step-form/check.png") no-repeat center center;
    width: 13px;
    height: 13px;
    right: 0;
    top: 45%;
    transform: translate(-50%, -50%);
    background-size: contain;
    display: block;
}



.step-form-box-right .dropdown-custom .default-price-string{
    display: block;
    margin-left: auto;
    padding-right: 30px;
}


.step-form-box-right .dropdown-box,
.step-form-box-right .menu-box {
    background: #FAFAFA;
    padding: 12px 16px;
    border-radius: 8px;
    margin-right: 11px;
}

.step-form-box-right .dropdown-box:not(:last-child),
.step-form-box-right .menu-box:not(:last-child) {
    margin-bottom: 12px;
}


.step-form-box-right  .dropdown-menu {
    padding-left: 50px;
    font-size: 14px;
    line-height: 14px;
    visibility: hidden;
    opacity: 0.8;
    max-height: 0;
    overflow: hidden;
    transition:  max-height 0.4s ease-in-out, visibility 0.4s ease-in-out;
}

.step-form-box-right  .list-menu {
    padding-left: 50px;
    font-size: 14px;
    line-height: 14px;
    opacity: 0.8;
}


.step-form-box-right .drop-down-item-open .dropdown-menu {
    visibility: visible;
    max-height: 500px;
    transition: visibility 0.5s ease-in-out, max-height 0.5s ease-in-out;
}

.step-form-box-right .drop-down-item-open .title-arrow-box:after {
  transform: translate(-50%, -50%) rotate(180deg);
    transform-origin: center center;
}


.step-form-box-right .list-item:not(:last-child) ,
.step-form-box-right .dropdown-item:not(:last-child) {
    margin-bottom: 12px;
}

.step-form-box-right .list-item:first-child ,
.step-form-box-right .dropdown-item:first-child{
   padding-top: 16px;
}

.step-form-box-right .check-box-label {
    position: relative;
}

.step-form-step-one .step-form-box-right .check-box-label{
    cursor: pointer;
}

.step-form-box-right .price-string {
    padding-right: 30px;
    font-weight: 600!important;
}


.step-form-box-right .toggle-container span{
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}

.step-form-box-right .default-price span{
    font-weight: 600;
    line-height: 16px;
}


.step-form-box-right .total-counter {
    font-size: 22px;
    font-weight: 600;
    line-height: 33px;
    margin-bottom: 10px;
    text-align: end;
}

.step-form-box-right .bottom-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 14px;
}

/*right side styles finish*/

/*common styles of step form  finish */

/*regions select styles start*/

.regions-select-wrap, .package-select-wrap, .licences-select-wrap{
    position: relative;
    width: 100%;
}

.regions-select-wrap .regions-item-label.disabled {
    opacity: 0.5;
    pointer-events: none;
}

.regions-select-wrap .regions-item-label.choose {
    font-weight: 600;
}


.regions-select-wrap .select-choices-inner {
    border: 1px solid #CFCFCF;
    width: 100%;
    height: 48px;
    padding: 6px 16px 6px 16px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #151515;
    position: relative;
}

.regions-select-wrap .select-choices-inner:after {
    content: '';
    position: absolute;
    border: 6px solid transparent;
    border-top: 6px solid #74879B;
    right: 20px;
}


.regions-select-wrap .select-choices-inner.open {
    border: 1px solid #02A1D3
}

.regions-select-wrap .regions-item-box {
    width: 100%;
    visibility: hidden;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    position: absolute;
    transition: opacity 0.3s, max-height 0.5s ease-out, visibility 0.3s;
    background: white;
    z-index: 3;
    box-shadow: 0px 3px 20px 0px #00000026;
    padding: 17.5px 14px;
    border-radius: 8px;
    top: 103%;
    left: 0;
}

.regions-select-wrap .regions-item-box.open {
    visibility: visible;
    opacity: 1;
    max-height: 500px;
    transition: opacity 0.3s, max-height 0.5s ease-in;
}

.regions-select-wrap .regions-item-label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    user-select: none;
}

.step-form-step-two .subscription-box-accepted input,
.regions-select-wrap .regions-item-label input,
.step-form-box-right .toggle-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.step-form-step-two .subscription-box-accepted .checkmark,
.regions-select-wrap .regions-item-label .checkmark,
.step-form-box-right .toggle-container .checkmark {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #c4bebe;
    border-radius: 3px;
}

.step-form-step-two .subscription-box-accepted .checkmark{
    height: 14px;
    width: 14px;
    left: 15px;
    border: 1.5px solid #5E6377;
}

.regions-select-wrap .regions-item-label .checkmark {
    height: 16px;
    width: 16px;
}


.step-form-box-right .toggle-container .checkmark {
    height: 14px;
    width: 14px;
}

.regions-select-wrap .regions-item-label .checkmark {
    left: 13px;
}

.step-form-box-right .toggle-container .checkmark {
    right: 0;
}

.step-form-step-two .subscription-box-accepted input:checked ~ .checkmark,
.regions-select-wrap .regions-item-label input:checked ~ .checkmark,
.step-form-box-right .toggle-container .checked-custom-value ~ .checkmark {
    border: 1.5px solid #27AE60;
}

.step-form-step-two .subscription-box-accepted .checkmark:after,
.regions-select-wrap .checkmark:after,
.step-form-box-right .toggle-container .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


.step-form-step-two .subscription-box-accepted input:checked ~ .checkmark:after,
.regions-select-wrap .regions-item-label input:checked ~ .checkmark:after,
.step-form-box-right .toggle-container .checked-custom-value ~ .checkmark:after {
    display: block;
}

.step-form-step-two .subscription-box-accepted .checkmark:after,
.regions-select-wrap .regions-item-label .checkmark:after,
.step-form-box-right .toggle-container .checkmark:after {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 9px;
    height: 7px;
    background: url("../images/step-form/check-green.png") no-repeat center center;
    background-size: contain;
}

.step-form-step-two .subscription-box-accepted .checkmark:after {
    width: 9px;
    height: 7px;
}

.regions-select-wrap .regions-item-label .checkmark:after {
    width: 9px;
    height: 7px;
}

.step-form-box-right .toggle-container .checkmark:after {
    width: 6px;
    height: 6px;
}

/*regions select styles finish*/

/*option select styles start*/

.package-select-box .choices,
.licences-select-box .choices{
  border: 1px solid #CFCFCF;
  width: 100%;
  height: 48px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  color: #151515 !important;
  position: relative;
  background: transparent;
  font-weight: 500;
}

.package-select-box .choices__list--dropdown .choices__item--disabled{
  display: none;
}


.package-select-box .choices.is-open,
.licences-select-box .choices.is-open{
  border: 1px solid #02A1D3;
}

.package-select-box .choices__inner,
.licences-select-box .choices__inner{
  border: none;
  background: transparent;
  font-size: 16px;
  padding: 6px;
}

.package-select-box .choices:after{
  border: 6px solid transparent;
  border-top: 6px solid #74879B;
  right: 20px;
  margin-top: 0;
}


.package-select-box .choices.is-open:after{
  border: 6px solid transparent;
  border-top: 6px solid #74879B;
  margin-top: 0;
}

.package-select-box  .choices__list.choices__list--dropdown{
  width: 100%;
  visibility: hidden;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  position: absolute;
  transition: opacity 0.3s, max-height 0.5s ease-out, visibility 0.3s;
  background: white;
  z-index: 3;
  box-shadow: 0px 3px 20px 0px #00000026;
  padding: 17.5px 14px;
  border-radius: 8px;
  top: 105%;
  left: 0;
  border: none;
  margin-top: 0;
}

.package-select-box .choices__list.choices__list--dropdown.is-active {
  visibility: visible !important;
  opacity: 1 !important;
  max-height: 500px !important;
  transition: opacity 0.3s, max-height 0.5s ease-in;
}

.package-select-box .choices__item {
  border-radius: 8px;
  padding: 6px !important;
  transition: .3s ease-in-out;
}

.package-select-box .choices__item.is-highlighted {
  background: #D9D9D9 !important;
}

/*option select styles finish*/

/*license select styles start*/

.step-form-step-one .custom-licences-select-box{
    position: relative;
    width: 50px;
    height: 100px;
}

.step-form-step-one .custom-licences-select-box canvas{
   width: 100%;
    position: absolute;
}


/*license select styles finish*/

/*step2 start */

.step-form-step-two{
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    position: relative;
}

.step-form-step-two .step-form-step-two-left-column{
    display: grid;
    grid-template-rows: auto 1fr;
}

.step-form-step-two .step-form-step-two-details {
    display: flex;
   flex-direction: column;
}

.step-form-step-two  .name-of-choose-package{
    font-size: 24px;
    line-height: 36px;
    text-align: left;
    margin-bottom: 15px;
}

.step-form-step-two .subscription-box-details {
    margin-bottom: 20px;
}


.step-form-step-two .subscription-payment-box-details h4,
.step-form-step-two .subscription-box-details h4{
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 10px;
}

.step-form-step-two .subscription-box-details label{
    position: relative;
}

.step-form-step-two .subscription-box-details label:not(:last-child){
    margin-bottom: 20px;
}

.step-form-step-two .subscription-box-details input{
    border: 1px solid #CFCFCF;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    padding: 6px 16px;
    border-radius: 8px;
    height: 40px;
}

.step-form-step-two  input::placeholder{
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    color: #151515;
    opacity: 0.6;
}

.step-form-step-two .step-title {
   margin-bottom: 20px;
}

.step-form-step-two .choices{
    margin-bottom: 10px;
}

.step-form-step-two .choices__inner{
    background: transparent;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    color: #151515;
    height: 40px;
    padding: 6px 16px;
}

.step-form-step-two .choices__placeholder{
    opacity: 0.6;
}

.step-form-step-two .choices__inner .choices__list--single {
    padding: 0;
}

.step-form-step-two .subscription-payment-box-details{
    padding-top: 10px;
}


.step-form-step-two .modal-package-info{
    background: #FAFAFA;
    padding: 15px 12px;
    border-radius: 12px;
    margin-bottom: 16px;
    position: relative;
}

.step-form-step-two  .modal-package-info-name{
    font-size: 18px;
    line-height: 27px;
}

.step-form-step-two  .modal-package-info-total{
    font-size: 14px;
    line-height: 21px;
    padding-right: 10px;
}

.step-form-step-two  .modal-package-info-sum{
    font-size: 22px;
    line-height: 33px;
}

.step-form-step-two .package-select-info-subscribe-img {
    width: 16px;
}

.step-form-step-two .selected-options-container.selected-options-container-show{
    display: block;
    position: absolute;
    top: -60px;
    bottom: 0;
    width: 100%;
    background: #00000096;
}

.step-form-step-two .selected-options-container.selected-options-container-show .selected-options-container-inner{
    background: #FFFFFF;
    border-radius: 26px;
    margin-top: 115px;
    padding: 38px 18px 18px 18px;
    position: relative;
}


.step-form-step-two .selected-options-container .close-btn{
    top: 20px;
    right: 20px;
}


.step-form-step-two .subscription-payment-box-details-box {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 25px;
    position: relative;
}

.step-form-step-two .subscription-payment-box-details-box .error-message {
    bottom: -20px;
}


.step-form-step-two .subscription-payment-box-details-box  .radio-item {
    display: inline-block;
    position: relative;
    padding: 0 6px;
    margin: 10px 0 0;
    width: 100%;
}

.step-form-step-two  .radio-item input[type='radio'] {
    display: none;
}


.step-form-step-two .subscription-payment-box-details-box  .radio-item label {
    color: #15163D;
    font-weight: normal;
    cursor: pointer;
}


.step-form-step-two .subscription-payment-box-details-box  .radio-item label:before {
    content: " ";
    display: inline-block;
    position: relative;
    top: 5px;
    margin: 0 5px 0 0;
    width: 20px;
    height: 20px;
    border-radius: 11px;
    border: 2px solid #5E6377;
    background-color: transparent;
}


.step-form-step-two .subscription-payment-box-details-box  .radio-item input[type=radio]:checked + label:before{
    border: 2px solid #27AE60;
}


.step-form-step-two .subscription-payment-box-details-box  .radio-item label:after {
    border-radius: 11px;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 9px;
    left: 10px;
    content: " ";
    display: block;
    background: #5E6377;
}


.step-form-step-two .subscription-payment-box-details-box .radio-item input[type=radio]:checked + label:after {
    border-radius: 11px;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 9px;
    left: 10px;
    content: " ";
    display: block;
    background: #27AE60;
    border: 2px solid #27AE60;
;
}

.step-form-step-two  .subscription-box-accepted{
    position: relative;
}
.step-form-step-two .subscription-select-box{
    position: relative;
    margin-bottom: 10px;
}

.step-form-step-two .error-message {
    color: #D34E4E;
    font-size: 10px;
    font-weight: 400;
    line-height: 15px;
    position: absolute;
    bottom:-15px;
    left: 6px;
}

.step-form-step-two .subscription-select-box .error-message{
    bottom: -5px;
}

.step-form-step-two .step-form-box-center{
    padding-right: 14px;
}


/*step2 finish */

/*step3 start */
.step-form-step-three{
    max-width: 790px;
    height: 485px;
    border-radius: 20px;
    box-shadow: 13px 11px 60px 0px #0000000D;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    position: relative;
}

.step-form-step-three .step-form-step-three-img-box{
  border: 2px solid #3AAC4C;
    width: 100px;
    height: 100px;
    padding: 24px;
    margin-bottom: 24px;
}

.step-form-step-three h3{
    text-align: center;
    margin-bottom: 24px;
    font-size: clamp(32px, 3vw, 40px);
}

.step-form-step-three span{
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: center;
}

.step-form-step-two .close-btn,
.step-form-step-three .close-btn{
    position: absolute;
    width: 24px;
    height: 24px;
}

.step-form-step-three .close-btn{
    top: 30px;
    right: 30px;
}

.step-form-step-two .close-btn{
    top: 15px;
    right: 15px;
}



/*step3 finish */


/*media steps form start*/


@media screen and (min-width: 1024px) {
    .step-form-box-left  {
        padding-right: 20px;
    }

    .step-form-wrap{
        padding-left: 0;
        padding-right: 0;
    }


    .step-form-wrap .continue-btn {
        max-width: 270px;
        height: 60px;
    }


    .step-form-box-right .dropdown-box,
    .step-form-box-right .menu-box {
        margin-right: 18px;
    }

    .step-form-box-right .optional-content {
        margin-bottom: 10px;
    }

    .step-form-box-right .bottom-container{
        padding-right: 0;
    }

    .step-form-box-left .additional-text-options {
        display: block;
        max-width: 608px;
    }

    .regions-select-wrap, .package-select-wrap, .licences-select-wrap {
        max-width: 408px;
    }

    .regions-select-wrap .select-choices-inner {
        font-size: 18px;
        height: 60px;
    }


    .package-select-box .choices,
    .licences-select-box .choices{
        height: 60px;
    }

    .package-select-box .choices__inner,
    .licences-select-box .choices__inner{
        font-size: 18px;
    }

    .step-form-box-right .total-counter{
        margin-bottom: 10px;
    }

    .step-form-step-two.active {
        display: grid;
    }

    .step-form-step-two .step-form-step-two-details {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .step-form-step-two  input::placeholder{
        font-size: 18px;
    }

    .step-form-step-one,
    .step-form-step-two {
        padding: 44px 20px 40px 20px;
    }


    .step-form-step-two .subscription-box-details:first-child {
        margin-bottom: 40px;
    }

    .step-form-step-two .step-form-box-center{
        padding-right: 0;
    }

    .step-form-step-two .subscription-payment-box-details{
        padding-top: 40px;
    }

    .step-form-box-left  {
        padding-right: 14px;
    }


    .step-form-step-two .subscription-payment-box-details-box  .radio-item {
        width: 50%;
    }

    .step-form-step-three{
        height: 635px;
    }

    .step-form-step-two .step-form-box-center{
        padding-top: 35px;
    }

    .step-form-step-three .step-form-step-three-img-box{
        margin-bottom: 40px;
    }


    .step-form-step-three span{
        font-size: 22px;
        line-height: 33px;
    }

}

@media screen and (min-width: 1642px){
    .step-form-step-one,
    .step-form-step-two {
        padding: 44px 60px 40px 90px;
    }

}


@media screen and (min-width: 1024px) {
  .comprehensive-coverage h2 {
    font-size: clamp(3.3dvw, 4.46dvw, 7.2dvh);
  }

  .comprehensive-coverage .subtitle {
    font-size: clamp(1dvw, 1.25dvw, 3dvh);
  }

  .comprehensive-coverage .subtitle br {
    display: block;
  }

  .comprehensive-coverage .swiper-slide {
    transform: scale(0.82);
    transform-origin: right center;
    min-height: 408px;
  }

  .comprehensive-coverage .swiper-slide.swiper-slide-active {
    transform: scale(1);
    transform-origin: center center;
  }

  .comprehensive-coverage .afterActive {
    transform-origin: left center;
  }

  .swiper-slide.comprehensive-coverage {
    padding-top: clamp(60px, 13dvh, 9dvw);
    padding-bottom: clamp(30px, 6dvh, 4dvw);
  }

  #comprehensive-slider {
    padding-top: clamp(15px, 8.7dvh, 9dvw);
    padding-bottom: clamp(15px, 7dvh, 4dvw);
    max-height: calc(408px + clamp(15px, 8.7dvh, 9dvw) + clamp(15px, 7dvh, 4dvw));
  }

  .comprehensive-coverage-pagination.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0;
    width: 15px;
    height: 15px;
  }
}

@media screen and (min-width: 1024px) and (max-height: 800px) {
  .comprehensive-coverage h2 {
    font-size: clamp(1.3dvw, 2.46dvw, 4.2dvh);
  }

  .comprehensive-coverage .subtitle {
    font-size: clamp(1dvw, 1.25dvw, 1dvh);
  }

  .comprehensive-coverage .swiper-slide {
    min-height: 335px;
  }
}

@media screen and (min-width: 1440px) {
  #comprehensive-slider .swiper-slide {
    width: 360px;
  }
}

@media screen and (min-width: 1440px) and (max-height: 800px) {
  .comprehensive-coverage .content {
    padding-left: 20px;
  }

  .hero-section .image-block img {
    max-width: 80dvh
  }
}

@media screen and (min-width: 1642px) {
  #comprehensive-slider .swiper-slide {
    width: 400px;
  }

  .comprehensive-coverage h2 {
    font-size: clamp(2dvw, 3.5dvw, 6.3dvh);
  }

  .swiper-slide.comprehensive-coverage {
    padding-top: clamp(3dvh, 15.4dvh, 15.5dvh);
    padding-bottom: clamp(15px, 7.3dvh, 8dvw);
  }

  .comprehensive-coverage .subtitle {
    font-size: clamp(0.5dvw, 0.9dvw, 2dvh);
  }

  #comprehensive-slider {
    padding-top: clamp(15px, 10.7dvh, 9dvw);
    padding-bottom: clamp(15px, 9.1dvh, 6dvw);
  }

  .comprehensive-coverage .swiper-slide {
    min-height: 450px;
  }
}

@media screen and (min-width: 1642px) and (max-height: 1060px) {
  .hero-section .image-block img {
    max-width: 39dvw
  }

  .hero-section .image-block {
    right: 5%;
  }
}

@media screen and (min-width: 2300px) and (min-height: 1000px) {
  .comprehensive-coverage .swiper-slide {
    min-height: 550px;
  }
}

@media screen and (min-width: 3000px) {
  .hero-section h1, .hero-section h2 {
    max-width: 65%;
  }

  .hero-section .image-block img {
    max-width: 1000px
  }

  .hero-section .image-block {
    top: 20%;
    right: 12%;
  }
}

/*slider content*/

.comprehensive-coverage .content p {
  font-size: 26px;
}

.comprehensive-coverage .content ul {
  font-size: 14px
}

@media screen and (max-width: 1440px) {
  .comprehensive-coverage .content ul {
    font-size: 15px
  }
}

@media screen and (max-width: 1440px) and (max-height: 740px) {
  .comprehensive-coverage .content ul {
    font-size: 14px
  }

  .comprehensive-coverage .content p {
    font-size: 20px;
  }
}

@media screen and (max-width: 1440px) and (max-height: 1025px) {
  .comprehensive-coverage .content ul {
    font-size: 14px
  }
}

@media screen and (max-width: 1440px) and (max-height: 770px) {
  .comprehensive-coverage .content ul {
    font-size: 13px
  }
}

@media screen and (max-width: 1440px) and (min-height: 1025px) {
  .comprehensive-coverage .content ul {
    font-size: 14px
  }
}

@media screen and (max-width: 1025px) and (max-height: 769px) {
  .comprehensive-coverage .content ul {
    font-size: 14px
  }
}

@media screen and (max-width: 768px) and (max-height: 740px) {
  .comprehensive-coverage .content ul {
    font-size: 12px
  }
}

@media screen and (min-width: 1642px) {
  .comprehensive-coverage .content p {
    font-size: 32px;
  }

  .comprehensive-coverage .content ul {
    font-size: 16px;
  }
}

@media screen and (min-width: 2300px) and (max-height: 999px) {
  .comprehensive-coverage .content ul {
    font-size: 16px;
  }

  .comprehensive-coverage .content p {
    font-size: clamp(16px, 25px, 3dvh);
  }
}