@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --swiper-pagination-bullet-inactive-color: #34384E1A;
  --swiper-pagination-color: #02C2FF;
  --swiper-pagination-bullet-inactive-opacity: 1;
}

/*.swiper-scrollbar-custom {*/
/*  width: 10px;*/
/*  height: 216px;*/
/*  border-radius: 30px;*/
/*  background: #D9D9D9;*/
/*  position: absolute;*/
/*  top: 50%;*/
/*  transform: translateY(-50%);*/
/*  right: 2%;*/
/*}*/

/*.swiper-scrollbar-drag {*/
/*  background: #02C2FF;*/
/*  width: 10px;*/
/*  border-radius: 30px;*/
/*}*/

/*.parallax-bg {*/
/*  font-size: 1000px;*/
/*  color: #fff;*/
/*  opacity: .1;*/
/*  position: absolute;*/
/*  inset: 0;*/
/*}*/

.swiper-slide {
  overflow: hidden;
}

/*hero section*/
.hero-section h1 {
  font-size: clamp(6.3dvw, 14.3dvw, 7dvh);
}

.hero-section h2 {
  font-size: clamp(2dvw, 4.1dvw, 2dvh);
}

.counter-block .counter-title {
  font-size: clamp(3.76dvw, 9dvw, 5dvh);
  margin-bottom: clamp(3dvh, 7.6dvh, 17dvw);
}

.counter-block .counter-item .number {
  font-size: clamp(5dvw, 10dvw, 5dvh)
}

.counter-block .counter-item .text {
  font-size: clamp(1.5dvw, 3.6dvw, 2dvh);
}

.counter-block .counter-grid {
  row-gap: clamp(3dvh, 8.7dvh, 19dvw);
}

@media screen and (max-height: 600px) {
  .counter-block, .hero-section {
    padding-top: 56px;
  }
}

@media screen and (min-width: 1024px) {
  .hero-section h1 {
    font-size: clamp(4.3dvw, 8.4dvw, 14dvh);
  }

  .hero-section h2 {
    font-size: clamp(.9dvw, 1.25dvw, 2dvh);
  }

  .counter-block .counter-title {
    font-size: clamp(1.76dvw, 2.5dvw, 5dvh);
    margin-bottom: clamp(3dvh, 3.6dvh, 11dvw);
  }

  .counter-block .counter-item .number {
    font-size: clamp(1dvw, 3.1dvw, 5dvh);
  }

  .counter-block .counter-item .text {
    font-size: clamp(.5dvw, 0.97dvw, 2dvh);
  }

  .counter-block .counter-grid {
    grid-template-columns: repeat(6, clamp(5dvw, 10.3dvw, 17dvh));
  }
}

@media screen and (min-width: 1642px) {
  .hero-section h1 {
    font-size: clamp(4.3dvw, 7.3dvw, 13dvh);
  }

  .hero-section h2 {
    font-size: clamp(0.9dvw, 1.3dvw, 3dvh);
  }

  .counter-block .counter-title {
    font-size: clamp(1.76dvw, 2.76dvw, 5dvh);
  }

  .counter-block .counter-item .number {
    font-size: clamp(1dvw, 2.5dvw, 5dvh);
  }

  .counter-block .counter-item .text {
    font-size: clamp(.3dvw, .7dvw, 2dvh);
  }

  .counter-block .counter-grid {
    grid-template-columns: repeat(6, clamp(8dvw, 8.4dvw, 14dvh));
  }
}

/*comprehensive coverage*/
.comprehensive-coverage {
  padding-top: clamp(56px, 15dvh, 35dvw);
  padding-bottom: clamp(30px, 5.5dvh, 13dvw);
}

.comprehensive-coverage h2 {
  font-size: clamp(5.3dvw, 9.2dvw, 4dvh);
}

.comprehensive-coverage .subtitle {
  font-size: clamp(2dvw, 4.04dvw, 3dvh);
}

.comprehensive-coverage .subtitle br{
  display: none;
}

.comprehensive-coverage .content p {
  font-size: clamp(3dvw, 6.6dvw, 3dvh);
}

.comprehensive-coverage-pagination.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0;
  width: 12px;
  height: 12px;
}

.comprehensive-coverage .swiper-wrapper {
  align-items: center;
}

.comprehensive-coverage .swiper-slide {
  height: 100%;
  padding: 0 10px;
  transition: transform 0.7s;
}

#comprehensive-slider {
  padding-top: clamp(15px, 6.8dvh, 15dvw);
  padding-bottom: clamp(15px, 10.6dvh, 25dvw);
}

@media screen and (min-width: 1024px) {
  .comprehensive-coverage h2 {
    font-size: clamp(3.3dvw, 4.46dvw, 7.2dvh);
  }

  .comprehensive-coverage .subtitle {
    font-size: clamp(1dvw, 1.25dvw, 3dvh);
  }

  .comprehensive-coverage .subtitle br{
    display: block;
  }

  .comprehensive-coverage .content p {
    font-size: clamp(1dvw, 2dvw, 4dvh);
  }

  .comprehensive-coverage .swiper-slide {
    transform: scale(0.82);
  }

  .comprehensive-coverage .swiper-slide.swiper-slide-active {
    transform: scale(1);
  }

  .swiper-slide.comprehensive-coverage {
    padding-top: clamp(60px, 13dvh, 9dvw);
    padding-bottom: clamp(30px, 6dvh, 4dvw);
  }

  #comprehensive-slider {
    padding-top: clamp(15px, 8.7dvh, 9dvw);
    padding-bottom: clamp(15px, 7dvh, 4dvw);
  }

  .comprehensive-coverage-pagination.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0;
    width: 15px;
    height: 15px;
  }
}

@media screen and (min-width: 1642px) {
  .comprehensive-coverage h2 {
    font-size: clamp(2dvw, 3.5dvw, 6.3dvh);
  }

  .swiper-slide.comprehensive-coverage {
    padding-top: clamp(3dvh, 15.4dvh, 15.5dvh);
    padding-bottom: clamp(15px, 7.3dvh, 8dvw);
  }

  .comprehensive-coverage .subtitle {
    font-size: clamp(0.5dvw, 0.9dvw, 2dvh);
  }

  #comprehensive-slider {
    padding-top: clamp(15px, 10.7dvh, 9dvw);
    padding-bottom: clamp(15px, 9.1dvh, 6dvw);
  }

  .comprehensive-coverage .content p {
    font-size: clamp(0.4dvw, 1.6dvw, 3dvh);
  }
}