@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --swiper-pagination-bullet-inactive-color: #34384E1A;
  --swiper-pagination-color: #02C2FF;
  --swiper-pagination-bullet-inactive-opacity: 1;
}

.swiper-slide {
  overflow: hidden;
}

/*hero section*/
.hero-section h1 {
  font-size: clamp(6.3dvw, 14.3dvw, 7dvh);
}

.hero-section h2 {
  font-size: clamp(2dvw, 4.1dvw, 2dvh);
}

.counter-block .counter-title {
  font-size: clamp(3.76dvw, 9dvw, 5dvh);
  margin-bottom: clamp(3dvh, 7.6dvh, 17dvw);
}

.counter-block .counter-item .number {
  font-size: clamp(5dvw, 10dvw, 5dvh)
}

.counter-block .counter-item .text {
  font-size: clamp(1.5dvw, 3.6dvw, 2dvh);
}

.counter-block .counter-grid {
  row-gap: clamp(3dvh, 8.7dvh, 19dvw);
}

@media screen and (max-height: 600px) {
  .counter-block, .hero-section {
    padding-top: 56px;
  }
}

@media screen and (min-width: 1024px) {
  .hero-section h1 {
    font-size: clamp(4.3dvw, 8.4dvw, 14dvh);
  }

  .hero-section h2 {
    font-size: clamp(.9dvw, 1.25dvw, 2dvh);
  }

  .counter-block .counter-title {
    font-size: clamp(1.76dvw, 2.5dvw, 5dvh);
    margin-bottom: clamp(3dvh, 3.6dvh, 11dvw);
  }

  .counter-block .counter-item .number {
    font-size: clamp(1dvw, 3.1dvw, 5dvh);
  }

  .counter-block .counter-item .text {
    font-size: clamp(.5dvw, 0.97dvw, 2dvh);
  }

  .counter-block .counter-grid {
    grid-template-columns: repeat(6, clamp(5dvw, 10.3dvw, 17dvh));
  }
}

@media screen and (max-width: 1440px) and (max-height: 600px) {
  .hero-section h1 {
    font-size: clamp(4.3dvw, 8.4dvw, 12dvh);
  }
}

@media screen and (min-width: 1642px) {
  .hero-section h1 {
    font-size: clamp(4.3dvw, 150px, 13dvh);
  }

  .hero-section h2 {
    font-size: clamp(0.9dvw, 26px, 3dvh);
  }

  .counter-block .counter-title {
    font-size: clamp(1.76dvw, 55px, 5dvh);
  }

  .counter-block .counter-item .number {
    font-size: 52px;
  }

  .counter-block .counter-item .text {
    font-size: clamp(.3dvw, .7dvw, 2dvh);
  }

  .counter-block .counter-grid {
    grid-template-columns: repeat(6, 165px);
  }
}

@media screen and (min-width: 2500px) {
  .counter-block .counter-grid {
    grid-template-columns: repeat(6, 1fr);
  }
}

/*comprehensive coverage*/
.comprehensive-coverage {
  padding-top: clamp(60px, 9dvh, 21dvw);
  padding-bottom: clamp(30px, 4.5dvh, 10dvw);
}

.comprehensive-coverage h2 {
  font-size: clamp(5.3dvw, 9.2dvw, 4dvh);
}

.comprehensive-coverage .subtitle {
  font-size: clamp(2dvw, 4.04dvw, 3dvh);
}

.comprehensive-coverage .subtitle br {
  display: none;
}

.comprehensive-coverage-pagination.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0;
  width: 12px;
  height: 12px;
}

.comprehensive-coverage .swiper-wrapper {
  align-items: center;
}

#comprehensive-slider {
  padding-top: clamp(15px, 6.8dvh, 9dvw);
  padding-bottom: clamp(15px, 5.6dvh, 10dvw);
}

#comprehensive-slider .swiper-slide {
  height: 100%;
  transition: transform .5s, right .3s, transform-origin .7s;
  width: 310px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#comprehensive-slider .swiper-slide .swiper-slide-inner {
  position: relative;
  border-radius: 16px;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

#comprehensive-slider .swiper-slide .swiper-slide-inner:after,
#comprehensive-slider .swiper-slide .swiper-slide-inner:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity .7s;
}

#comprehensive-slider .swiper-slide .swiper-slide-inner:after {
  opacity: 1;
  background: linear-gradient(180deg, rgba(28, 28, 28, 0) 71.07%, #212121 100%);
}

#comprehensive-slider .swiper-slide .swiper-slide-inner:before {
  opacity: 0;
  background: linear-gradient(180deg, rgba(33, 33, 33, 0.45) -32.37%, #212121 100%);
}

#comprehensive-slider .swiper-slide-active .swiper-slide-inner:after {
  opacity: 0;
}

#comprehensive-slider .swiper-slide-active .swiper-slide-inner:before {
  opacity: 1;
}

.step-form-wrap{
  padding-bottom: clamp(32px, 5.56vw, 111px);
  padding-top: clamp(32px, 5.56vw, 111px);
}

.step-form-wrap h2 {
  font-size: clamp(2.25rem, 1.882rem + 1.498vw, 3.75rem);
}

.modal {
  background-color: lightgray;
  padding: 20px;
  text-align: center;
}


@media screen and (min-width: 1024px) {
  .comprehensive-coverage h2 {
    font-size: clamp(3.3dvw, 4.46dvw, 7.2dvh);
  }

  .comprehensive-coverage .subtitle {
    font-size: clamp(1dvw, 1.25dvw, 3dvh);
  }

  .comprehensive-coverage .subtitle br {
    display: block;
  }

  .comprehensive-coverage .swiper-slide {
    transform: scale(0.82);
    transform-origin: right center;
    min-height: 408px;
  }

  .comprehensive-coverage .swiper-slide.swiper-slide-active {
    transform: scale(1);
    transform-origin: center center;
  }

  .comprehensive-coverage .afterActive {
    transform-origin: left center;
  }

  .swiper-slide.comprehensive-coverage {
    padding-top: clamp(60px, 13dvh, 9dvw);
    padding-bottom: clamp(30px, 6dvh, 4dvw);
  }

  #comprehensive-slider {
    padding-top: clamp(15px, 8.7dvh, 9dvw);
    padding-bottom: clamp(15px, 7dvh, 4dvw);
    max-height: calc(408px + clamp(15px, 8.7dvh, 9dvw) + clamp(15px, 7dvh, 4dvw));
  }

  .comprehensive-coverage-pagination.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0;
    width: 15px;
    height: 15px;
  }
}

@media screen and (min-width: 1024px) and (max-height: 800px) {
  .comprehensive-coverage h2 {
    font-size: clamp(1.3dvw, 2.46dvw, 4.2dvh);
  }

  .comprehensive-coverage .subtitle {
    font-size: clamp(1dvw, 1.25dvw, 1dvh);
  }

  .comprehensive-coverage .swiper-slide {
    min-height: 335px;
  }
}

@media screen and (min-width: 1440px) {
  #comprehensive-slider .swiper-slide {
    width: 360px;
  }
}

@media screen and (min-width: 1440px) and (max-height: 800px) {
  .comprehensive-coverage .content {
    padding-left: 20px;
  }

  .hero-section .image-block img {
    max-width: 80dvh
  }
}

@media screen and (min-width: 1642px) {
  #comprehensive-slider .swiper-slide {
    width: 400px;
  }

  .comprehensive-coverage h2 {
    font-size: clamp(2dvw, 3.5dvw, 6.3dvh);
  }

  .swiper-slide.comprehensive-coverage {
    padding-top: clamp(3dvh, 15.4dvh, 15.5dvh);
    padding-bottom: clamp(15px, 7.3dvh, 8dvw);
  }

  .comprehensive-coverage .subtitle {
    font-size: clamp(0.5dvw, 0.9dvw, 2dvh);
  }

  #comprehensive-slider {
    padding-top: clamp(15px, 10.7dvh, 9dvw);
    padding-bottom: clamp(15px, 9.1dvh, 6dvw);
  }

  .comprehensive-coverage .swiper-slide {
    min-height: 450px;
  }
}

@media screen and (min-width: 1642px) and (max-height: 1060px) {
  .hero-section .image-block img {
    max-width: 39dvw
  }

  .hero-section .image-block {
    right: 5%;
  }
}

@media screen and (min-width: 2300px) and (min-height: 1000px) {
  .comprehensive-coverage .swiper-slide {
    min-height: 550px;
  }
}

@media screen and (min-width: 3000px) {
  .hero-section h1, .hero-section h2 {
    max-width: 65%;
  }

  .hero-section .image-block img {
    max-width: 1000px
  }

  .hero-section .image-block {
    top: 20%;
    right: 12%;
  }
}

/*slider content*/

.comprehensive-coverage .content p {
  font-size: 26px;
}

.comprehensive-coverage .content ul {
  font-size: 14px
}

@media screen and (max-width: 1440px) {
  .comprehensive-coverage .content ul {
    font-size: 15px
  }
}

@media screen and (max-width: 1440px) and (max-height: 740px) {
  .comprehensive-coverage .content ul {
    font-size: 14px
  }

  .comprehensive-coverage .content p {
    font-size: 20px;
  }
}

@media screen and (max-width: 1440px) and (max-height: 1025px) {
  .comprehensive-coverage .content ul {
    font-size: 14px
  }
}

@media screen and (max-width: 1440px) and (max-height: 770px) {
  .comprehensive-coverage .content ul {
    font-size: 13px
  }
}

@media screen and (max-width: 1440px) and (min-height: 1025px) {
  .comprehensive-coverage .content ul {
    font-size: 14px
  }
}

@media screen and (max-width: 1025px) and (max-height: 769px) {
  .comprehensive-coverage .content ul {
    font-size: 14px
  }
}

@media screen and (max-width: 768px) and (max-height: 740px) {
  .comprehensive-coverage .content ul {
    font-size: 12px
  }
}

@media screen and (min-width: 1642px) {
  .comprehensive-coverage .content p {
    font-size: 32px;
  }

  .comprehensive-coverage .content ul {
    font-size: 16px;
  }
}

@media screen and (min-width: 2300px) and (max-height: 999px) {
  .comprehensive-coverage .content ul {
    font-size: 16px;
  }

  .comprehensive-coverage .content p {
    font-size: clamp(16px, 25px, 3dvh);
  }
}